<div class="page-content">
    <span class="main-title text-center">Liste des objets</span>
    <table mat-table [dataSource]="itemsDataSource" class="w-full mt-5">
        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef>Libellé</th>
            <td mat-cell *matCellDef="let item"> {{ item.label }} </td>
        </ng-container>
        
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let item"> {{ item.type }} </td>
        </ng-container>

        <ng-container matColumnDef="releaseDate">
            <th mat-header-cell *matHeaderCellDef>Date de parution</th>
            <td mat-cell *matCellDef="let item"> {{ item.releaseDate | date:'longDate' : '+0200' : 'fr-FR' }} </td>
        </ng-container>

        <ng-container matColumnDef="support">
            <th mat-header-cell *matHeaderCellDef>Support</th>
            <td mat-cell *matCellDef="let item"> {{ item.support ?? '-' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>
